.main {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main {
    padding-top: 20%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.copyright {
  height: 80px;
  background-color: #1c1f2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 4px solid #daaa0e;
}

body::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.link:hover {
  color: #daaa0e;
}
